body, html 
{
	margin:0;
	padding:0;
	color:#000;
}

#wrap 
{
	/* width:1024px; */
	margin:5 auto;
}
#header 
{
}

#nav 
{
}

#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

#nav li {
	display:inline;
	margin:0;
	padding:0;
}

#main 
{
	/* float:right; */
	/* width: 844px; */
}

#selection
{
	/* float:left; */
	/* width:180px; */
}

#selection td
{
	vertical-align: top;
	padding:	15px;
}

#selection td.choose
{
	border: 1px solid black;
}

#footer {
	/* clear:both; */
}

